body {
	padding:0;
	margin:0;
	width:100%;
	height: 100%;
	overflow-y: auto;
}

section {
	width:95%;
	margin-left: auto;
	margin-right: auto;
}

input[type=text],
input[type=password] {
	width:100%;
	margin-bottom:5px;
}

#results {
	display:block;
	width:100%;
	margin-top:10px;
	border: 1px solid #404040;
	min-height: 50px;
	padding:3px;
}

